<div class="row">
    <form action="/admin/generate-fake-posts" method="post">
        <div class="form-group">
            <label for="">Generate Post</label>
            <input type="number" name="amount" class="form-control" id="">
        </div>
        <button type="submit" class="btn btn-primary">Generate Post</button>
    </form>
</div>

<br>

<div class="row">
    <div class="col-md-8">
        <canvas id="myChart"></canvas>
    </div>
</div>