<div class="col-md-9 col-md-offset-3">
    <div class="posts">
        <div class="posts-inner">
            <article class="post">
                <div class="post-header">
                    <h2 class="title"><span>About Route</span></h2>
                </div>
                <div class="post-media">
                    <img src="/images/about.jpg" alt="Post">
                </div>
                <div class="post-content">

                    <!-- The Content -->
                    <div class="the-excerpt">
                        <p>There’s nothing quite as frightening as the unknown. These words of former US Secretary of
                            Defense Donald Rumsfeld should be truly terrifying (although the general consensus at the
                            time was that they sounded like nonsense).</p>
                        <blockquote>
                            <p>Donec eget ipsum sagittis, varius leo non, mattis eros. Donec eleifend, urna ut elementum
                                tincidunt, velit nibh pulvinar odio, ac tristique mauris magna sit amet arcu. Aenean
                                vestibulum gravida rutrum. Morbi vel augue a lectus ultricies varius nec id elit. </p>
                        </blockquote>
                        <p>Design works within constraints. The Columban monks who crafted the Book of Kells worked with
                            four inks on vellum, a material made of calfskin. The materials were simple but clearly
                            defined. The cenobitic designers knew the hues of the inks, the weight of the vellum, and
                            crucially, they knew the dimensions of each page.</p>
                        <p>
                            Suspendisse eleifend nulla ac rhoncus egestas. Sed vehicula ipsum vitae finibus condimentum.
                            Phasellus rhoncus, nulla et sodales sodales, massa nisl volutpat odio, ac sodales risus
                            metus sollicitudin odio.
                        </p>
                    </div>
                    <!-- End The Content -->
                </div>

            </article>
        </div>
    </div>
</div>