<div class="col-md-9 col-md-offset-3">
    <div class="posts">
        <div class="posts-inner">
            <article class="post">
                <div class="post-header">
                    <h2 class="title"><span>Contact Me</span></h2>
                </div>
                <div class="post-media">
                    <img src="/images/about.jpg" alt="Post">
                </div>
                <div class="post-content">

                    <!-- The Content -->
                    <div class="the-excerpt">
                        <p>There’s nothing quite as frightening as the unknown. These words of former US Secretary of
                            Defense Donald Rumsfeld should be truly terrifying (although the general consensus at the
                            time was that they sounded like nonsense).</p>


                        <h4>Contact Information</h4>
                        <p>
                            <strong>- Tel:</strong> +123 456 789 <br />
                            <strong>- Email:</strong> name@domain.com <br />
                            <strong>- Address:</strong> 820 Utica Ave, Brooklyn, NY
                            <br />
                        </p>
                        <form action="#" method="post" class="contact" style="margin-top: 10px;">
                            <div class="contact-item">
                                <label>Your Name *</label>
                                <input name="author" value="" type="text">
                            </div>
                            <div class="contact-item">
                                <label>Your Email *</label>
                                <input name="email" value="" type="email">
                            </div>
                            <div class="contact-item">
                                <label>Website URL</label>
                                <input id="url" name="url" value="" type="text">
                            </div>
                            <div class="contact-item">
                                <label>Message *</label>
                                <textarea name="comment"></textarea>
                            </div>
                            <div class="contact-item form-submit">
                                <input name="submit" type="submit" id="submit" class="submit" value="Submit">
                            </div>
                        </form>
                    </div>
                    <!-- End The Content -->
                </div>

            </article>
        </div>
    </div>
</div>