<div class="col-md-9 col-md-offset-3">
    <div class="posts">
        <div class="posts-inner">

            <article class="post">
                <h5 class="card-title text-center">Sign In</h5>
                <form method="post" action="/login" class="contact" style="margin-top: 10px;">
                    <div class="contact-item">
                        <label>Email *</label>
                        <input name="email" type="email">
                    </div>
                    <div class="contact-item">
                        <label>Password *</label>
                        <input name="password" type="password" id="inputPassword">
                    </div>
                    <div class="contact-item form-submit">
                        <input name="submit" type="submit" id="submit" class="submit" value="Submit">
                    </div>
                </form>

                <hr class="my-4">
                <a class="d-block text-center mt-2 small" href="/register">Sign Up</a>
            </article>


        </div>
    </div>
</div>